@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong{
    color: black;
}

p{
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: grey;
}

a {
    text-decoration:none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .main-container {
        width: 90%;
    }

}

/* buttons */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid lightgray;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* logo dan menu navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display:flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: black;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: black;
}

/*burger*/

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger {
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}