@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Times New Roman", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong{
    color: black;
}

p{
    font-size: 1.3rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: grey;
}

a {
    text-decoration:none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .main-container {
        width: 90%;
    }

}

/* buttons */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid lightgray;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .6rem;
    color: #003366;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(grey);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* logo dan menu navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
}

.logo{
    display:flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: black;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: black;
}

/*burger*/

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* home section*/
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}

.home-right {
    display: flex;
    justify-content: center;
}

#home p{
    text-align: justify;
}

.home-right img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*biodata sections*/
#biodata {
    background-color: #fffff0;
    padding: 10.2rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.biodata-left .pre-title {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: bold;
}

.biodata-label {
    display: inline-block;
    width: 300px;
    color: black;
    line-height: 2.5rem;   
}

.biodata-right {
    display: flex;
    justify-content: center;
}

.biodata-left {
    justify-self: start;
    padding-left: 160px;
    text-align: left;
    font-size: 1.05rem;
}

.biodata-right img {
    width: 200px;
    height: 300px;
    display: block;
    border: 5px solid #dcdcdc;
    border-radius: 25px;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    box-shadow: 0 0 20px rgba(255, 99, 71, 0.7);
}


/*skills & education sections */
#skilleducation{
    padding: 7rem 0;
    background: rgb(255, 255, 255);
    margin: auto;
}

#skilleducation .pre-title{ 
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 4rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 1rem;
}

.education .line{
    padding: 0 0.7rem;
}

.education .line div{
    width: 2px;
    height: 100%;
    background: #004d00;
    position: relative;
}

.education-info p{
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #004d00;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right{
    text-align: justify;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

.skills-right p, li{
    color: black;
}

/*experience sections*/
#experience {
    padding: 6rem 0;
    text-align: center;
    background-color: #fffff0;
}

.experience .pre-title{
    font-size: 3rem;
    margin: 0 auto;
    font-weight: bold;
}

.experience.main-container{
    text-align: center;
}

.experience-image {
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius:0.7rem;
    overflow: hidden;
    padding: 4rem 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.experience-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.experience-info {
    font-style: bold;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.experience-info h4 {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 0.5rem;
    line-height: 3rem;
}


/* contact-section */
#contact{
    padding: 7.5rem 0;
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1rem;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: gray;
} 

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: #ffc890;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: #ffaf60;
}

.contact-item {
    display: flex;
    gap:1.5rem;
    margin-bottom: 2rem;
} 

.contact-item-icon {
    background: #ffc890;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

}